
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f9fafa;
    padding: 5px 50px 5px 50px;
  }
 
.logo-flag{
  margin: 10px;
  display:flex;
  justify-content: space-around;
  background-color: white;
}

.shadow-efect {
  width: 110px;
  height: 70px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}


/*From de responsive menu BEGGINING*/
.topnav {
  overflow: hidden;
  background-color: rgb(197, 18, 18);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

/*rESPONSIVE MENU END*/

.active {
  background-color: #1d34b6da;
  color: white;
}

  .top-head{
    height: 30px;
    width: 100%;
    background-color: #102496da;
    ;
  
}

.head-navigator{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-left: auto;
}

.inner-nav{
    margin: 10px;
    width: 100%;
    height: 30px;
}

  .push-right{
    margin-left:  auto;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(243, 138, 138);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
  .dropdown-content a {
    font-size: 12px;
    float: none;
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 1100px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 1100px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
