body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff6f7fa;
    padding: 5px 50px 5px 50px;
  }
 
.logo-flag{
    margin: 5px;
    display:flex;
    justify-content: space-around;
    background-color: white;
  }

  .header-flag img{
    width: 130px;
    height: 90px;
  }

  .header-logo img{
    width:290px;
    height:180px;
  }
  
.shadow-efect {
    width: 110px;
    height: 70px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
  }

/*********From de responsive menu BEGGINING***********/
.topnav {
  overflow: hidden;
  background-color: rgb(197, 18, 18);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

/***************rESPONSIVE MENU END************/

.active {
  background-color: #1d34b6da;
  color: white;
}

  .top-head{
    height: 30px;
    width: 100%;
    background-color: #102496da;  
}

.head-navigator{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-left: auto;
}


.inner-nav{
    margin: 10px;
    width: 100%;
    height: 30px;
}

  .push-right{
    margin-left:  auto;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(243, 138, 138);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
.dropdown-content a {
    font-size: 12px;
    float: none;
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* BARRA SEPARADORA */

  .barra {
    margin-top: 20px;
    margin-bottom: 15px;
    border-color: rgba(121, 121, 121, 0.651);
    border-width: 10px;
    max-width: 20px;;
  }



  /************************* CAROUSEL *******************************/

  .al-medio{
    display: flex;
    justify-content: center;
}

 .carousel-size{    
    width: 55%;
    height:35%;
}

/*.carousel-inner{
    background-color: rgb(78, 76, 76);
} */

  /************************* GALLERY **************************/
.gallery-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #eff6f7fa;
}

.my-thumbnail{
  width: 350px;
  background-color: whitesmoke;
  margin: 8px;
  padding: 8px;

  border: 1px solid rgb(189, 184, 184);
    border-radius: 4px;
    padding: 6px;
}

  .my-thumbnail img {
    width: 100%;
    max-height: 190px;
  }
    
  .my-thumbnail:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    } 


/************************* FOOTER **************************/

.da-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: small;
  color: white;
  background-color: rgb(26, 26, 141);
}

  @media screen and (max-width: 1100px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 1100px) {
    body {padding: 5px;}
    .header-flag img{ width: 70px; height: 50px;}
    .header-logo img{ width:170px; height:100px;}
    .shadow-efect {width: 70px; height: 50px;}

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .da-footer img{ width: 25%; height: 25%;}
    .da-footer p{font-size: 9px;}
  }
